<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Avalon</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/black.css" id="theme">
		<link rel="stylesheet" href="css/zenburn.css">

	</head>

	<body>

		<div class="reveal">

			<div class="slides">
				<section>
					<h1>首頁</h1>
					<img class="img-h" src="https://lh3.google.com/u/0/d/12AJlUmrVp4SsuS-H5-l-7WaFLmaODxA4=w3280-h1066-iv1" height="500px">
					<p>輸入暱稱並選擇圖片進入遊戲大廳</p>
				</section>
				<section>
					<h1>遊戲大廳</h1>
					<img class="img-h" src="https://lh3.google.com/u/0/d/1w0yYoad9lGflp81aymwHiWyyRFa4TAWg=w3280-h1066-iv1" height="500px">
					<p>創建房間：創立房間當房主</p>
					<p>加入房間：加入特定房間使用。</p>
				</section>
				<section>
					<h1>遊戲房間</h1>
					<img class="img-h" src="https://lh3.google.com/u/0/d/1yz5cJxm6ibd1g170ZFYLs224euKeYO05=w3280-h1066-iv1" height="500px">
					<p>先選擇遊戲人數，再選擇是否開啟派西維爾</p>
					<p>將右上角房號分享與好友，待玩家到齊後即可開始遊戲</p>
				</section>
				<section>
					<img class="img-h" src="https://lh3.google.com/u/0/d/12Y-TnkGmoBtTB83yW7KWJYwYEKxr7lCg=w3280-h1066-iv1" height="500px">
					<p>若非房主可輸入房號，並按下進入房間</p>
					<p>此圖為非房主的其餘五個玩家加入賽局圖示</p>
				</section>	
				<section>
					<img class="img-h" src="https://lh3.google.com/u/0/d/1DVxZH6Z-owPxe9nqHVtnbkwshKRdR7Ba=w3280-h1066-iv1" height="500px">
					<p>進入遊戲後上方的2乘5表格為遊戲進度表</p>
					<p>總共5局，上面的數字表示每局需執行任務人數</p>
					<p>按下我是誰，可察看自己身分；選擇上方想指</p>
					<p派任務玩家後可要求所選取的玩家執行任務</p>
				</section>
				<section>
					<img class="img-h" src="https://lh3.google.com/u/0/d/15Jprruco9YcnQ5ksP3tyXc2fDdDYYV5o=w3280-h1066-iv1" height="500px">
					<p>此圖為不同身分按下我是誰後所顯示的畫面</p>
					<p>梅林:看到摩甘納、刺客並顯示紅色</p>
					<p>刺客:看到摩甘納、刺客並顯示紅色</p>
					<p>摩甘納:看到摩甘納、刺客並顯示紅色</p>
					<p>派西:看到摩甘納、梅林並顯示橘色</p>
				</section>
				<section>
					<img class="img-h" src="https://lh3.google.com/u/0/d/1er3aIRbIRAjopWwq2PtIU_aeGKMZFi9S=w3280-h1066-iv1" height="500px">
					<p>當起始玩家按下執行任務後，被指派任務的玩家將會有任務成功與失敗選項可選擇</p>
					<p>白色圖案:贊同任務；黑色圖案:反對任務</p>
				</section>
				<section>
					<img class="img-h" src="https://lh3.google.com/u/0/d/1IozQNfIt3yjNZw8VzzTJfeOsewfThI61=w3280-h1066-iv1" height="500px">
					<p>如被指派的玩家中有人反對任務則上方陣列即會出現紅色，表示此局壞人得分</p>
				</section>
				<section>
					<img class="img-h" src="https://lh3.google.com/u/0/d/1rHczGGe2Rd9344NeFbxksxfwr9qwXJJc=w3280-h1066-iv1" height="500px">
					<p>若出任務的所有玩家皆贊同任務則會顯示藍色，表示此局好人得分</p>
					<p>以此類推看哪邊陣營先從五局中搶下三局及勝出</p>
				</section>
				<section>
					<h1>The End</h1>
					<p>希望您會喜歡！若有Bug煩請向我聯絡！chenhung0506@gmail.com</p>
				</section>					
			</div>

		</div>


		<script src="js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// More info https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
