<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Avalon</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/black.css" id="theme">
		<link rel="stylesheet" href="css/zenburn.css">

	</head>

	<body>
		<button id="left"><img src="img/arrow.png" style="height:50px;"></button>
		<button id="right"><img src="img/arrow.png" style="height:50px"></button>
		<div class="reveal">
			<div class="slides">
				<section>
					<img class="img-h" src="img/4-1.png" height="650px">
					<p>長按螢幕兩秒即可開始遊戲;再長按兩秒即可暫停遊戲</p>
				</section>
				<section>
					<img class="img-h" src="img/4-2.png" height="650px">
					<p>為加快遊戲節奏吃一顆食物長3個尾巴</p>					
				</section>
				<section>
					<img class="img-h" src="img/4-3.png" height="650px">
					<p>下方Scroe為您的遊戲得分，吃一顆食物加10分</p>
					<p>撞到身體不會死亡(一次扣5分)</p>
				</section>
				<section>
					<img class="img-h" src="img/4-4.png" height="650px">
					<p>為提升遊戲樂趣撞到牆會穿過牆從另一邊的牆重新出來</p>
				</section>
				<section>
					<img class="img-h" src="img/4-5.png" height="650px">
					<p>遊戲會隨尾巴長度而速度逐漸提升，快來挑戰破關吧</p>
				</section>
				<section>
					<img class="img-h" src="img/4-6.png" height="650px">
					<p>遊戲會隨尾巴長度而速度逐漸提升，快來挑戰破關吧</p>
				</section>
				<section>
					<h1>The End</h1>
					<p>希望您會喜歡！若有Bug煩請向我聯絡！chenhung0506@gmail.com</p>
				</section>	
			</div>
		</div>

		<script src="js/head.min.js"></script>
		<script src="js/reveal.js"></script>
		<script>
			// More info https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>
		<style>
				.arrow {
					margin: 1em auto;
					width: 280px;
					text-align: center;
					background-color: #eee;
					padding: 0.5em 0;
					display: block;
					color: #333;
					text-decoration: none;
					text-transform: uppercase;
					transition: all 0.2s;
					box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.6);
					border-radius: 8px;
					/* &:hover {
						color: #eee;
						background-color: #333;
					} */
				}

				.left {
						content: '\25c4';
						padding-right: 0.5em;

				}
		</style>

	</body>
</html>
