<!DOCTYPE html>
<html lang="en">
    <head>
        <title>林宸宏</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <link rel="shortcut icon" href="../favicon.ico"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/style.css" />
		<!--[if IE]>
			<link rel="stylesheet" type="text/css" href="css/styleIE.css" />
		<![endif]-->
    </head>
    <body style="background-image: url(images/pattern.png), url(images/bg.jpg);">

        <div class="container">
            <!--about-->
            <div class="row justify-content-center mt-5">
                <div class="col-md-4">
                    <h1>About me</h1>
                </div>
                <div class="col-md-4">
                    <ul class="bmenu">
                        <li><a href="#" onclick="openNav(1)">Autobiography</a></li>
                        <li><a href="#" onclick="openNav(2)">Certificate</a></li>
                    </ul>
                </div>
            </div>
            <!--project-->
            <div class="row justify-content-center mt-5">
                <div class="col-md-4">
                    <h1>Project</h1>
                </div>
                <div class="col-md-4">
                    <ul class="bmenu">
                        <li><a href="#" onclick="openNav(3)">j2ee project</a></li>
                        <li><a href="#" onclick="openNav(4)">Firebase project</a></li>
                        <li><a href="#" onclick="openNav(5)">Android project</a></li>
                    </ul>
                </div>
            </div>
        </div>

<div class="row justify-content-center mt-5">
  <div class="col-md-6 contact-info">
   <h2>Name: Chen hung Lin</h2>
   <h2>Phone: 0919040448</h2>
   <h2>Email:  <a href="chenhung0506@gmail.com" title="chenhung0506@gmail.com" target="_blank" class="">chenhung0506@gmail.com</a></h2>
  </div>
</div>
		
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
        <script>
            function openNav(num) {
              document.getElementById("mySidenav"+num).style.width = "100%";
            }

            function closeNav(num) {
              document.getElementById("mySidenav"+num).style.width = "0";
            }
        </script>


        <!--sidenav-->
        <div id="mySidenav1" class="sidenav rotate">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav(1)">&times;</a><!--close btn-->
            <!--sidenav content-->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <h2>Autobiography</h2>
                        <h3>個人特質</h3>
                        <p>問起我的個性，身邊的人最常用個性開朗樂觀來形容我，我是林宸宏，對於新鮮事物充滿好奇，小時就愛拆解機械與電子零件去拼裝與了解運作方式，培養出好的邏輯理解能力。個人特質對新事物充滿研究熱情，無論做報告或打工時用到photoshop、Flash、PowerDirector能很快學會應用；或為了寫遊戲讓大家帶著玩，研究了Android、FireBase並寫出APP貪食蛇與Web版阿瓦隆等，只要是有趣新奇的事都會充滿熱情去摸索。</p>
                        <h3>成長背景</h3>
                        <p>因理科成績不錯高中時選了自然組，大學時選擇研修水利工程，在流體力學與工程數學學科中，發揮了邏輯與數學演算的長處，並在計算機概論與工程軟體應用等學科中，接觸了C++與Fortran等語言開始對程式有了初步了解。在研究所時除使用Fortran撰寫模式進行數據模擬外，也應用Matlab與R進行大量數據分析，在這之中漸漸喜歡上寫程式，並在第二份工作後正式開始軟體工程師之路。</p>
                        <p>在工作的閒暇，也不忘充實自己，利用下班與周末閒暇學習FireBase、GCP、DNS、Linux、Android等技術。</p>

                        <h3>社團與興趣</h3>
                        <p>大學期間參加拔河隊、系籃，從各類比賽中學習到團隊合作的重要，從各類活動中培養與群體溝通的個性，更培養出組織團隊的領導力與執行力。</p>
                        <p>研究所期間參加中央Toast  Master英語進修社，在這認識許多英語口說傑出的朋友，增廣了自己的視野，並逼自己上台演說一方面增進口說能力一方面讓自己上台不怯場。</p>
                        <p>工作後參與校友會、扶青團、讀書會等活動，除了解各行各業也讓自己隨時保持活力充沛開朗的心情；活動外也會從事游泳、籃球、體操等活動讓自己釋放壓力。</p>

                        <h3>生涯規劃</h3>
                        <p>「勇於嘗試，積極學習」，一直是我的人生觀，也造就了過去豐富的人生經歷，未來會繼續往資深工程師資路邁進，最後感謝百忙中撥空閱讀，盼給予機會致誠懇感謝。 </p>
                    </div>
                </div>
            </div>
        </div>

        <!--sidenav-->
        <div id="mySidenav2" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav(2)">&times;</a><!--close btn-->
            <!--sidenav content-->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">
						<h2>Certificate</h2>
						<iframe src="https://www.chlin.tk/navigator/certificate.html" width="100%" frameborder="0" scrolling="no" style="height: 90vh"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <!--sidenav-->
        <div id="mySidenav3" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav(3)">&times;</a><!--close btn-->
            <!--sidenav content-->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">
						<h4><a href="https://ivoting.ga/adminGo" target="_blank" class="">點此造訪網站</a></h4>
						<h5>操作說明:</h5>
						<iframe src="https://www.chlin.tk/navigator/iVoting.html" width="100%" frameborder="0" scrolling="no" style="height: 90vh"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <!--sidenav-->
        <div id="mySidenav4" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav(4)">&times;</a><!--close btn-->
            <!--sidenav content-->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">
						<h4><a href="https://www.chlin.tk/Avalon/index.html" target="_blank" class="">點此進入遊戲</a></h4>
						<h5>遊戲解說:</h5>
						<iframe src="https://www.chlin.tk/navigator/avalon.html" width="100%" frameborder="0" scrolling="no" style="height: 90vh"></iframe>
                    </div>
                </div>
            </div>
        </div>
		
        <!--sidenav-->
        <div id="mySidenav5" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav(5)">&times;</a><!--close btn-->
            <!--sidenav content-->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">
						<h4><a href="https://www.chlin.tk/Android/app-release.apk" target="_blank" class="">點此下載遊戲</a></h4>
						<h5>遊戲解說:</h5>
						<iframe src="https://www.chlin.tk/navigator/gridSnake.html" width="100%" frameborder="0" scrolling="no" style="height: 90vh"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>